.row {
  background: green;
  padding: 1em;
}

.card {
  width: 64mm;
  height: 89mm;
  background: white;
  border: black solid 1em;
  margin: 1em;
  border-radius: 1em;
  display: inline-block;
  text-align: center;
}

.clubs,
 .spades {
   color: black;
 }

.diamonds,
.hearts {
  color: red;
}

.card > span {
  font-size: 8em;
}

.spades > span::after {
  content: "♠";
}
.hearts > span::after {
  content: "♥";
}
.diamonds > span::after {
  content: "♦";
}
.clubs > span::after {
  content: "♣";
}
